<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ort.checkin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:name=".SessionVariable"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckIn">
        <activity
            android:name=".InfoPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".TakePhotoActivity"
            android:exported="true" />
        <activity
            android:name=".AfterProfilePhotoActivity"
            android:exported="true" />
        <activity
            android:name=".BeforeProfilePhotoActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterTwoActivity"
            android:exported="true" />
        <activity
            android:name=".IddleActivity"
            android:exported="true" />
        <activity
            android:name=".TakePictureActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>